<!-- <section class="item-description">
  <div id="quienes-somos" class="anchor"></div>
  <h2 class="title-description">About us</h2>
  <include
    src="./descriptions.html"
    title="Georgi Angelov Dimitrov"
    imagensrc="./assets/images/building-process.jpg"
    imagenalt="Georgi"
    description="CEO"
    linkedin="https://linkedin.com/in/georgi-angelov-dimitrov-00134347"
    tel="tel:"
    email="mailto:georgi.dimitrov@xvadynamics.com"
  >
  </include>
</section> -->

<section class="services">
  <div id="quienes-somos" class="anchor"></div>
  <div class="services__container" id="services">
   
    <h2 class="services__title-description">Services</h2>
    <h3 class="services__subtitle-description">Vibration measurements:</h3>

    <p class="services__text">
        Vibrations are a repetitive - rigid or flexible - motion of (solid) parts. Vibration
      measurements require motion sensors to measure acceleration, velocity and – less often –
      position at the point(s) of interest. Depending on the needs, additional (pressure, flow, flux,
      intensity, …) sensors to characterise the excitation source might also be needed.
      Some of the experimental techniques that we can perform for you are listed below. Based
      on your input and needs we will combine/adapt them to define the optimal testing strategy.
    </p>

  </div>

</section>
