<section class="team">
  <div id="about" class="anchor"></div>
  <div class="team__container" id="about">
    <h2 class="team__title">About us</h2>
    <article class="team__text">
      <p><i>“Enable organisations to validate, verity and integrate new products for optimal dynamic
      and acoustic performance.”</i></p>

      <p>Incorporating the concepts of dynamics and acoustics into the product generation process
      is crucial for many corporations in order to continue innovating, remain competitive or cope
      with their customers’ requirements. To complete the design internally, companies face a
      significant costs in:</p>
      <ul>
        <li>
          <i>Dynamic architecture/design competence and dynamic modelling techniques.</i>
        </li>
        <li>
          Dynamic testing competence and specialised equipment for vibration and/or
          acoustic measurements.
        </li>
      </ul>
      <p>The second point is the core part where XVA dynamics offers its services. By outsourcing
      partly or completely the testing process to us the total design cost is reduced (when
      compared to performing all in-house), the time to market is shorter (no need to build-up
      competence or arrange equipment) and the quality of the design is better (measurements
      performed with the right equipment and by experienced engineers).</p>
      <p>   Our main purpose is to enable organisations to validate, verify and integrate products for
      optimal dynamics and acoustic performance. Therefore, we work together with you as a
      partner and take ownership of the testing strategy, the execution and the analysis of the
      results. Check below for more details on the services we provide or contact us to discuss
      your specific needs.</p>
   
    </article>
  </div>
  <section class="boxsection">
    <div class="whitebox"></div>
  </section>
</section>

<!-- <section class="section">
  <div class="section__strengths">
    <h2 class="section__strengths-title">Lorem</h2>
    <p class="section__strengths-description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, esse, ipsa dolore laboriosam illo voluptatibus accusamus, consequuntur minima rerum maxime facilis tenetur a. Id qui sed rem similique provident! Doloribus.
    </p>
  </div>
  <div class="section__weaknesses">
    <h2 class="section__weaknesses-title">Ipsum</h2>
    <p class="section__weaknesses-description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis veritatis consectetur, mollitia enim itaque officiis facere impedit. Dolorem expedita eum dolore! Earum dolore et, eius officiis quasi modi nulla maxime.
    </p>
  </div>
</section> -->
