<section class="team">
  <div id="equipo" class="anchor"></div>
  <div class="team__container" id="equipo">
    <h2 class="team__title">Team</h2>
    <p class="team__description">
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, totam eius! Esse voluptatibus ut non est. Modi error cumque, itaque quidem quis odit nesciunt qui sit obcaecati a alias autem!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, totam eius! Esse voluptatibus ut non est. Modi error cumque, itaque quidem quis odit nesciunt qui sit obcaecati a alias autem!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, totam eius! Esse voluptatibus ut non est. Modi error cumque, itaque quidem quis odit nesciunt qui sit obcaecati a alias autem!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, totam eius! Esse voluptatibus ut non est. Modi error cumque, itaque quidem quis odit nesciunt qui sit obcaecati a alias autem!
    </p>
  </div>
  <section class="boxsection">
    <div class="whitebox"></div>
  </section>
</section>

<section class="section">
  <div class="section__strengths">
    <h2 class="section__strengths-title">Lorem</h2>
    <p class="section__strengths-description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, esse, ipsa dolore laboriosam illo voluptatibus accusamus, consequuntur minima rerum maxime facilis tenetur a. Id qui sed rem similique provident! Doloribus.
    </p>
  </div>
  <div class="section__weaknesses">
    <h2 class="section__weaknesses-title">Ipsum</h2>
    <p class="section__weaknesses-description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis veritatis consectetur, mollitia enim itaque officiis facere impedit. Dolorem expedita eum dolore! Earum dolore et, eius officiis quasi modi nulla maxime.
    </p>
  </div>
</section>
