
.hero{
  animation: intro 2s normal forwards ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;

  @keyframes intro {
    0% {
      opacity: 0;

    }
    100% {
      opacity: 1;
    }
  }

}
.image {
  width: 80vw;
  background-image: url("../images/logo_xvadyn_short_dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; /*with respect to the viewport*/
  height: 400px;
  margin: auto;
  margin-top: 0;
 
  @media (min-width: 768px) {
    background-image: url("../images/logo_xvadyn_short_dark.png");
    height: 90vh;
  
  }
  @media (min-width: 1200px) {
    background-image: url("../images/logo_xvadyn_long_white.png");
    height: 90vh;
  }

}
  
.hero-center{
  width:100%;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__nav{
    width:85%;
    margin-right: 30px;

    @media (min-width: 768px) {
      width:55%;
    
    }
    @media (min-width: 1200px) {
      width:25%;
    }


    &-list{
      display: flex;      
      justify-content: space-between;

      &--link{
        font-family: Impact;
        font-weight: 400;
        text-decoration: none;
        color: $MoradoXVA;
        &:focus,
        &:hover {
          color: $Morado;
          text-decoration: none;
          font-size: 102%;
          transition-property: font-size;
          transition-duration: 0.2s;
        }
        &:active {
          color: $ColorGris;
          text-decoration: none;
        }
               

    }
  }

}
}
.back {
  width: 100%;
  height: 421px;
}

@keyframes left {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  100% {
    transform: translatex(0px) rotate(120deg);
  }
}

.nombre-logo {
  width: 175px;
  animation-name: intro;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.logosimple {
  width: 175px;
  visibility: hidden;
  animation-name: final;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}


@keyframes right {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  100% {
    transform: translatex(-190px) translatey(0px) rotate(-60deg);
  }
}
.logosimple {
  width: 175px;
}


// /*Jana mediaquery laptop*/
// @media (min-width: 1200px) {
//   .image {
//     width: 100vw;
//     height: 100vh;;
//     background-image: url("../images/logo_xvadyn_long_white.png");
//     background-size: cover;
//     background-repeat: no-repeat;
//   }
  
// }

